html{
    background-color: red;
}
body{
    font-family: Courier, serif;
    background-color: #036633;
    color: #f3f3f3;
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
}
body:-webkit-full-screen{
    width: 100%;
    height: 100%;
}
#header{
    line-height: 90vh;
    margin-bottom: -22rem;
}
#color{
    margin-bottom: 2rem;
}
.button{
    border: 3px #f3f3f3 solid;
    border-radius: 3px;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    width: 10rem;
    padding: 0.25rem 0;
    transition: all 0.2s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover{
    width: 11rem;
    color: black;
    background-color: #f3f3f3;
}
#footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2.5rem;
}
@media only screen and (max-width: 400px){
    #header{
        line-height: 50vh;
        margin-bottom: -5rem;
    }
}



